$color-link-hover: rgb(1, 104, 129);

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: 'Merriweather', serif;
    background: #2C3A47;
}

.other-color {
    color: $color-link-hover;
    font-weight: bold;
}

/* NAWIGACJA */

nav {
    text-transform: uppercase;
    transition: background-color .6s;

    a {
        color: #fff;
        transition: color .4s;

        &:hover {
            color: $color-link-hover;
        }
    }

    .fa-bars {
        color: #fff;
        font-size: 23px;
        padding: 10px;
    }

    .navbar-brand {
        font-weight: bold;
    }

    .active {
        color: $color-link-hover;
    }

}

.shadow-bg {
    background-color: rgba(0, 0, 0, .8);
}

// HEADER
header {
    color: #fff;

    .hero-img {
        position: relative;
        height: 100vh;
        background-image: url('/img/baner.jpg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        z-index: 0;


        .header-text {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            flex-direction: column;
            text-align: center;

            h1 {
                text-transform: uppercase;
                font-size: 30px;
                padding: 10px;
            }

            p {
                padding: 10px;
                font-size: 14px;
            }

            .btn-outline-light {
                text-transform: uppercase;
            }
        }

        .fa-hand-point-down {
            display: none;
        }

    }

    .header-shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        z-index: -10;
    }
}

@media (min-width: 375px) {
    header {
        .hero-img {
            .header-text {
                h1 {
                    font-size: 36px;
                }

                p {
                    font-size: 16px;
                }
            }
        }
    }
}